body > div {
	box-sizing: border-box;
	width:400px;
	height:400px;
	background-color: #F00;
	padding:100px;
}

body > div > div {
	width:200px;
	height:200px;
	background-color: #A0A;
	
}

body > div > div > div {
	width:100px;
	height:100px;
	background-color: #FF0;
}